:root {
    --background: white;
    --darkest: #321;
    --text: #543;
    --lightest: white;
}

html, body {
    background: var(--background);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 1.5;
}

h1 {
    color: var(--darkest);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body * + * {
    margin-top: 1rem;
}

body {
    min-height: 100vh;
    padding-top: 100px;
}

main {
    max-width: 90vw;
    margin: 5rem auto;
    border: 1px solid var(--darkest);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background: var(--lightest);
}

header{
    max-width: 90vw;
    margin: auto;
    border: 1px solid var(--darkest);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background: var(--lightest);
}